<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">

    <title>Piano</title>
</head>

<body>
    <div class="Piano">
        <div class="Octave">
            <div class="KeysContainer Sharps">
                <div class="Spacer First"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">C#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">D#</span>
                </button>
                <div class="Spacer"></div>
                <div class="Spacer KeySize"></div>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">F#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">G#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">A#</span>
                </button>
                <div class="Spacer Last"></div>
            </div>

            <div class="KeysContainer">
                <button type="button" class="PianoKey">
                    <span class="Label">C</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">D</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">E</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">F</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">G</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">A</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">B</span>
                </button>
            </div>
        </div>

        <div class="Octave">
            <div class="KeysContainer Sharps">
                <div class="Spacer First"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">C#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">D#</span>
                </button>
                <div class="Spacer"></div>
                <div class="Spacer KeySize"></div>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">F#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">G#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">A#</span>
                </button>
                <div class="Spacer Last"></div>
            </div>

            <div class="KeysContainer">
                <button type="button" class="PianoKey">
                    <span class="Label">C</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">D</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">E</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">F</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">G</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">A</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">B</span>
                </button>
            </div>
        </div>

        <div class="Octave">
            <div class="KeysContainer Sharps">
                <div class="Spacer First"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">C#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">D#</span>
                </button>
                <div class="Spacer"></div>
                <div class="Spacer KeySize"></div>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">F#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">G#</span>
                </button>
                <div class="Spacer"></div>
                <button type="button" class="PianoKey Sharp">
                    <span class="Label">A#</span>
                </button>
                <div class="Spacer Last"></div>
            </div>

            <div class="KeysContainer">
                <button type="button" class="PianoKey">
                    <span class="Label">C</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">D</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">E</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">F</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">G</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">A</span>
                </button>
                <button type="button" class="PianoKey">
                    <span class="Label">B</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>