<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">

    <title>Piano</title>
</head>

<body>
    <div class="piano">
        <div class="octave">
            <div class="keys-container sharps">
                <div class="spacer first"></div>
                <button type="button" class="key sharp">
                    <span class="label">C#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">D#</span>
                </button>
                <div class="spacer"></div>
                <div class="spacer key-size"></div>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">F#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">G#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">A#</span>
                </button>
                <div class="spacer last"></div>

            </div>
            <div class="keys-container">
                <button type="button" class="key">
                    <span class="label">C</span>
                </button>
                <button type="button" class="key">
                    <span class="label">D</span>
                </button>
                <button type="button" class="key">
                    <span class="label">E</span>
                </button>
                <button type="button" class="key">
                    <span class="label">F</span>
                </button>
                <button type="button" class="key">
                    <span class="label">G</span>
                </button>
                <button type="button" class="key">
                    <span class="label">A</span>
                </button>
                <button type="button" class="key">
                    <span class="label">B</span>
                </button>
            </div>
        </div>

        <div class="octave">
            <div class="keys-container sharps">
                <div class="spacer first"></div>
                <button type="button" class="key sharp">
                    <span class="label">C#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">D#</span>
                </button>
                <div class="spacer"></div>
                <div class="spacer key-size"></div>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">F#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">G#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">A#</span>
                </button>
                <div class="spacer last"></div>
            </div>

            <div class="keys-container">
                <button type="button" class="key">
                    <span class="label">C</span>
                </button>
                <button type="button" class="key">
                    <span class="label">D</span>
                </button>
                <button type="button" class="key">
                    <span class="label">E</span>
                </button>
                <button type="button" class="key">
                    <span class="label">F</span>
                </button>
                <button type="button" class="key">
                    <span class="label">G</span>
                </button>
                <button type="button" class="key">
                    <span class="label">A</span>
                </button>
                <button type="button" class="key">
                    <span class="label">B</span>
                </button>
            </div>
        </div>

        <div class="octave">
            <div class="keys-container sharps">
                <div class="spacer first"></div>
                <button type="button" class="key sharp">
                    <span class="label">C#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">D#</span>
                </button>
                <div class="spacer"></div>
                <div class="spacer key-size"></div>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">F#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">G#</span>
                </button>
                <div class="spacer"></div>
                <button type="button" class="key sharp">
                    <span class="label">A#</span>
                </button>
                <div class="spacer last"></div>
            </div>

            <div class="keys-container">
                <button type="button" class="key">
                    <span class="label">C</span>
                </button>
                <button type="button" class="key">
                    <span class="label">D</span>
                </button>
                <button type="button" class="key">
                    <span class="label">E</span>
                </button>
                <button type="button" class="key">
                    <span class="label">F</span>
                </button>
                <button type="button" class="key">
                    <span class="label">G</span>
                </button>
                <button type="button" class="key">
                    <span class="label">A</span>
                </button>
                <button type="button" class="key">
                    <span class="label">B</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>